	#output.alert-danger{
		background: rgb(228, 105, 105);
	}
	#output{
		position: relative;
		height:45px;
		text-align:center;
		color: #fff;
		line-height: 1em;
		display: none;
		
/* 		animation:output 2s 1;
		-webkit-animation:output 2s 1;
		animation-fill-mode: forwards;
    
		animation-delay:3s;
		-webkit-animation-delay:3s; /* Safari and Chrome */
		/*-webkit-animation-fill-mode: forwards; */
	}
	
	@keyframes output{
		from {opacity :1;}
		to {opacity :0;}
	}

	@-webkit-keyframes output{
		from {opacity :1;}
		to {opacity :0;}
	}
	.animated {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}
	@-webkit-keyframes fadeInUp {
	  0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	  }

	  100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	  }
	}

	@keyframes fadeInUp {
	  0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	  }

	  100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	  }
	}

	.fadeInUp {
	  -webkit-animation-name: fadeInUp;
	  animation-name: fadeInUp;
	}