<div class="sidebar" id = "sideMenuDivId" ng-controller="SideNavController">
    <nav class="sidebar-nav" >
      <ul class="nav" id="dynamicSideMenu_id">

      </ul>
      <ul class="nav" >
        <li class="nav-item nav-dropdown"> <a class="nav-link nav-dropdown-toggle">
          <i class="fa fa-list nav-icon"></i> Reports </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link navsub-sublink" ui-sref-active="active" ui-sref="app.tpms-report" >
                TPMS Report
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</div>

 <script>
function menuEvent(id){
  if(id == 'logout'){
    angular.element(document.getElementById('sideMenuDivId')).scope().logoutFun_JS('Manual Logout');
  } else {
    window.location = "#!"+id;
  }
}
</script>
