<!-- Table View -->
<div class="widget-header" style="margin-top: 0.1em;">
  <i class="fa fa-list" aria-hidden="true"></i>
  <h3> Semi configured vehicles </h3>
  <span style="float: right; margin-right: 33px;"> {{nextIndex_vehicles + 1}} -
    {{nextIndex_vehicles + itemsPerPage_vehicles}} of {{totalItems_vehicles}}</span>
</div> <!-- /widget-header -->

<div class="widget-content table-responsive " >
  <form>
    <div class="form-group row ">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" placeholder= "Search" class="form-control"
		         ng-model="searchStringForVeh" ng-change = "searchvehicles()">
        </div>
      </div>
    </div>
  </form>
  <table class="table table-fixed table-bordered table-hover" >
    <thead>
      <tr class="tablehead">
        <th class="tableHead-center" >
          <a href="#">
            #
          </a>
        </th>
        <th class="tableHead-center" ><a href="#" ng-click="sortType = 'vehName'; tmsVeh_sortReverse = !tmsVeh_sortReverse">
            Vehicle
          <span ng-show="sortType == 'vehName' && !tmsVeh_sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'vehName' && tmsVeh_sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="tableHead-center">
          <a href="#" data-toggle="tooltip" title="Front Left">
            FL
          </a>
        </th>
        <th class="tableHead-center">
          <a href="#" data-toggle="tooltip" title="Front Right">
            FR
          </a>
        </th>
        <th class="tableHead-center">
          <a href="#" data-toggle="tooltip" title="Rear Left Outer">
            RLO
          </a>
        </th>
        <th class="tableHead-center">
          <a href="#" data-toggle="tooltip" title="Rear Left Inner">
            RLI
          </a>
        </th>
        <th class="tableHead-center">
          <a href="#" data-toggle="tooltip" title="Rear Right Inner">
            RRI
          </a>
        </th>
        <th class="tableHead-center">
          <a href="#" data-toggle="tooltip" title="Rear Right Outer">
            RRO
          </a>
        </th>
        <!-- <th class="tableHead-center">
           <a href="#" > Action </a>
        </th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="vehicle in allVehicles | orderBy:sortType:tmsVeh_sortReverse | filter:tmsVeh_searchData">
        <td class="tablebody-td tableData-right">{{ nextIndex_vehicles + $index + 1 }}
        </td>
        <td class="tablebody-td">{{ vehicle.vehName }}
        </td>
        <td ng-repeat="tire in vehicle.tires" ng-if="tire.tirePosition == 'FL'">{{ tire.tireNumber}}</td>
        <td class="tablebody-td" ng-repeat="tire in vehicle.tires" ng-if="tire.tirePosition == 'FR'">{{ tire.tireNumber }}</td>
        <td class="tablebody-td" ng-repeat="tire in vehicle.tires" ng-if="tire.tirePosition == 'RLO'">{{ tire.tireNumber }}</td>
        <td class="tablebody-td" ng-repeat="tire in vehicle.tires" ng-if="tire.tirePosition == 'RLI'">{{ tire.tireNumber }}</td>
        <td class="tablebody-td" ng-repeat="tire in vehicle.tires" ng-if="tire.tirePosition == 'RRI'">{{ tire.tireNumber }}</td>
        <td class="tablebody-td" ng-repeat="tire in vehicle.tires" ng-if="tire.tirePosition == 'RRO'">{{ tire.tireNumber }}</td>
        <!-- <td class="tablebody-td tableHead-center" >
  		      <button class="btn btn-primary btn-xs" ng-click = "getVehDetailsFormForUpdate(vehicle)" >
            	<i class="fa fa-pencil" aria-hidden="true"></i>
  		      </button>
  		      <button class="btn btn-warning btn-xs" ng-click = "getTyreDetailsForAssignVehicle(vehicle)">
        			<img src="img/tms/assign-tyre.png" alt="Assign Tyre" width="12" height="14"/>
  		      </button>
    		</td> -->
      </tr>
    </tbody>
    <button class="material-button material-button-toggle add-popup" type="button" ng-click="showVehicleAddingFormForAdd()">
      <span class="fa fa-plus" aria-hidden="true"></span>
    </button>
  </table>
  <uib-pagination total-items="totalItems_vehicles" ng-model="currentPage_vehicles"
  items-per-page="itemsPerPage_vehicles" max-size="maxSize_vehicles" ng-change="pageChanged_vehicles()"
  boundary-link-numbers="true" rotate="true" boundary-links="true"></uib-pagination>
  </div>
